{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//https://fonts.google.com/specimen/Raleway?selection.family=Raleway" rel="stylesheet" type="text/css">

    <meta charset="UTF-8">
    <title>DIY SDI: Digital Swap</title>
</head>
<body>

<div >
<a href="/">
    <img class="logodiy" src="/Users/sabinaschmitz/PycharmProjects/djangogirls/blog/static/Images/logodiysdi.png" />
</a>
</div>

<div class="tagline">Digital Exchange for a sustainable community</div>

<div class="signup">
    <form action="Profilehtml.html">
  <br>
  <input type="text" name="uname" value="Username">
  <br>
  <br>
  <input type="text" name="upass" value="Password">
  <br><br>
  <input id="get_started" type="submit" value="Get started">
</form>
</div>
</body>
</html>