<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="logincss.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DIY SDI: Digital Swap</title>
</head>
<body>

<div >
<a href="/">
    <img class="logodiy" src="Images/logodiysdi.png"... />
</a>
</div>

<div class="tagline">Digital Barter for a sustainable community</div>

<div class="signup">
    <form action="Profilehtml.html">
  <br>
  <input type="text" name="uname" value="Username">
  <br>
  <br>
  <input type="text" name="upass" value="Password">
  <br><br>
  <input id="get_started" type="submit" value="Get started">
</form>
</div>

</body>

<!--Footer-->

<div id="footer">
    <p class="create_new">create new account</p>
    <p class="help">help</p>
</div>


</html>